---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("articles")).sort((lhs,rhs) => rhs.data.publishedAt.valueOf() - lhs.data.publishedAt.valueOf())


---
<Layout title="Blog">
    <main>
        <h1>Personal blog</h1>
        <h2>I just write about things</h2>
        { articles.slice(0,10).map((article) => <p><a href={`blog/${article.slug}`}>{article.data.title} - {article.data.publishedAt.toISOString().slice(0,10)}</a></p>)}
    </main>
</Layout>
<style>
    h1 h2 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
</style>
