---
import Layout from "@layouts/Blog.astro";
---
<Layout title="User manual">
    <main>
        <h1>User manual</h1>
        <p>Here is where I plan on maintaining my user manual.</p>
        <p>
            The purpose of this document is to provide people with an easy and clear way to navigate interactions with myself.
        </p>
    </main>
</Layout>
<style>
    main {
        max-width: 600px;
        text-align: center;
    }
</style>
