---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { Pages } from "@pages/pages.ts";

const { title, description } = Pages.blog;
---
<Layout title={title} description={description}>
    <Header />
    <main>
        <slot />
    </main>
</Layout>
<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
