---
import { Azubinomicon as Content } from "../components/Azubinomicon.tsx";
import { Graph } from "../components/Graph.tsx";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Azubinomicon">
    <Content client:only="react"/>
    <h2>Graph</h2>
    <Graph client:only="react"/>
</Layout>